<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static server example using express</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Welcome to the express static website example server</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="about.html">about</a>
            <a href="contact.html">contact</a>
        </nav>
        <img src="images/download.jpg" alt="GANDALF">
        <div style="width:400px;">
            <p>hafiwjeoifiewjfiewjejfoiwjoifewio</p>
        </div>
    </div>
</body>

</html>