<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static server example using express</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Login</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="about.html">Login</a>
            <a href="contact.html">Add To List</a>
        </nav>
        <h3>Username: admin, Password:password</h3>
        <input type="text" id="username" name="username"> <br>
        <input type="text" id="password" name="password">
        <button>Login</button>
        <br>
        <script>
            
            username = document.querySelector('input[name="username"]')
            password = document.querySelector('input[name="password"]')
        
            document.querySelector('button').addEventListener('click', function(e){
              console.log(username.value)
              console.log(password.value)
              if (username.value == "admin" && password.value == "password")
              {
                window.location.href = "index.html";
              }
            })
            
      

        </script>
    </div>
</body>

</html>